* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    color: #363636;
    font-family: Roboto;
    font-size: 18px;


}

header {
    width: 95%;
    display: flex;
    height: 100px;
    margin-left: 20px;
    margin-top: 20px;
    position: fixed;
    background-image: linear-gradient(to top, rgba(255,255,255,0), rgba(255,255,255,0.5),rgba(255,255,255,0.8), rgba(255,255,255,0.98),rgba(255,255,255,0.98), rgba(255,255,255,0.8),rgba(255,255,255,0.5), rgba(255,255,255,0));
}

header ul a {
    width: 100%;
    height: 100%;
    text-align: center;
    margin: 40px auto;
    
    
}

a:link, a:visited {
    color: #363636;
    


  }
  
a:hover {
    color: black;
    font-weight: bold;
    text-decoration: overline;
  }
  

a:active {
    color: #f9f9f9;
  }


.logo {
    width: 10%;
}

.logo a {
    float: left;
    padding: 25px 50px;
}

.flags {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: start;
    margin-left: 20px ;
}

.flags a {
    margin-left: 10px;
}

.flags a img:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

header ul {
    display: flex;
    list-style-type: none;
    width: 60%;
    justify-content: space-evenly;
    margin-right: 30px;
    
}

header li {
    display: flex;
    height: 100%;
    width: 100%;
    
}

.externalGrid {
    height: 3000px;
    display: grid;
    grid-template: repeat(5, 20%) 100px / repeat(12, 1fr);
    grid-gap: 30px;
    margin: 10px;
    
}


section {
    border-radius: 20px;
    padding-top: 100px;
    border: 5px solid #363636
    ;
}

.home {
    grid-area: 1 / 1 / span 1 / span 12;
    display: grid;
    grid-template: repeat(12, 1fr) / repeat(12, 1fr);
}


.home h1 {
    grid-area: 3 / 3 / span 6 / span 4;
    font-size: 5rem;
    font-weight: bolder;
}

.home h1:hover {
   color: black;
}

.home > p {
    grid-area: 8 / 3 / span 1 / span 4;
    font-size: 1.2rem;
}

.home > p:hover {
    color: black;
}

.home .profilePicture {
    grid-area: 2 / 8 / span 8 / span 3;

}

.home .profilePicture img {
    border-radius: 50%;
    border: 5px solid #363636;
}
.home .profilePicture img:hover {
    border-color: black;
}

.home span {
    grid-area: 1 / 10 / span 5 / span 6;
    color: rgba(0, 0, 0, 0.19);
    font-size: 15rem;
    font-weight: bolder;
    z-index: -1;
}

.home footer {
    grid-area: 11 / 2 / span 1 / span 10;

}

.home footer a {
    margin: 20px;
}

.home footer a:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 50%;
}

.about {
    grid-area: 2 / 1 / span 1 / span 12;
}

.experience {
    grid-area: 3 / 1 / span 1 / span 12;

}

.skills {
    grid-area: 4 / 1 / span 1 / span 12;
}

.contact {
    grid-area: 5 / 1 / span 1 / span 12;
}


footer {
    grid-area: 6 / 1 / span 1 / span 12;

}