* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    color: #363636;
    font-family: Roboto, sans-serif;
    font-size: 18px;
    background-image: url(./assets/images/backgroundPattern2.png);

}



header {
    width: 75%;
    display: flex;
    height: 100px;
    margin-left: 13%;
    margin-top: 20px;
    position: fixed;
    background-image: linear-gradient(to top, rgba(255,255,255,0),rgba(255,255,255,0.1),rgba(255,255,255,0.2),rgba(255,255,255,0.3),rgba(255,255,255,0.4), rgba(255,255,255,0.5),rgba(255,255,255,0.6),rgba(255,255,255,0.7),rgba(255,255,255,0.8), rgba(255,255,255,0.80),rgba(255,255,255,0.80), rgba(255,255,255,0.8),rgba(255,255,255,0.7),rgba(255,255,255,0.6),rgba(255,255,255,0.5),rgba(255,255,255,0.4),rgba(255,255,255,0.3),rgba(255,255,255,0.2), rgba(255,255,255,0.1), rgba(255,255,255,0));
}

header ul {
    position: absolute;
    right: 0;
}


header ul a {
    width: 100%;
    text-align: center;
    margin: 40px auto;
    transition: font-size 1s, transform 0.2s, color 2s;
      
}

header ul a:hover {
    color: black;
    font-weight: bold;
    text-decoration: overline;
    font-size: 1.3rem;
    transform: rotate(5deg);
      
}

a:link, a:visited {
    color: #363636;
    
  }
  
  

a:active {
    color: #f9f9f9;
  }


.logo {
    width: 10%;
    position: absolute;
    left: 0;
}

.logo a {
    float: left;
    padding: 25px 50px;
    transition: transform 1s, color 1s;
    height: 100px;
}

.logo a:hover {
    color: #363636;
    transform: rotateY(180deg);
}

.second {
    position: relative;
    color: rgba(80, 67, 60, 0.349);
    bottom: 54px;
    transform: rotateY(180deg);
    right: 20px; 
    z-index: 1;
}


header ul {
    display: flex;
    list-style-type: none;
    float: right;
    width: 60%;
    justify-content: space-evenly;
    margin-right: 30px;
    
}

header li {
    display: flex;
    height: 100%;
    width: 100%;
    
}

.externalGrid {
    height: 3000px;
    display: grid;
    grid-template: repeat(5, 20%) 100px / repeat(12, 1fr);
    grid-gap: 30px;
    margin: 10px;
    
}


section {
    border-radius: 20px;
    padding-top: 100px;
    border: 5px solid #363636;
    background-color: white;
    width: 100%;
}

.home {
    grid-area: 1 / 2 / span 1 / span 10;
    display: grid;
    grid-template: repeat(12, 1fr) / repeat(12, 1fr);
}


.home h1 {
    grid-area: 3 / 3 / span 6 / span 5;
    font-size: 5rem;
    font-weight: bolder;
    transition: all  1s;

}

.home h1:hover {
   color: black;
}

.home > p {
    grid-area: 8 / 3 / span 1 / span 4;
    font-size: 1.2rem;
    transition: font-size 1s;
}

.home > p:hover {
    color: black;
    font-size: 1.4rem;
}

.home .profilePicture {
    grid-area: 2 / 8 / span 8 / span 3;

}

.home .profilePicture img {

    width: 130%;
    transition: width 2s, border-radius 2s;
}
.home .profilePicture img:hover {
    border-color: black;
    width: 140%;
    border-radius: 10%;

}

.home span {
    grid-area: 1 / 10 / span 5 / span 6;
    color: rgba(0, 0, 0, 0.19);
    font-size: 15rem;
    font-weight: bolder;
    z-index: -1;
}


.home footer {
    grid-area: 11 / 2 / span 1 / span 10;

}

.home footer a {
    margin: 20px;
    transition: all 1s;
    
    
}

.home footer a:hover {
    transform: rotateX(20deg);
    
}

.home form {
    grid-area: 11 / 7 / span 1/ span 1;
    z-index: 100;
}

.home form button {
    width: 140px;
    height: 30px;
    background-color: white !important;
    border-radius: 5px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.home form button:hover{
   color: black;
   background-color: #f9f9f9;
   font-weight: 600;
   border-color: black;
}

.about {
    grid-area: 2 / 2 / span 1 / span 10;
    display: grid;
    grid-template: repeat(20, 1fr) /  repeat(5, 1fr);
    grid-gap: 10px;
}

.card {
    border-radius: 10px;
    margin: 0 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    transition: all 0.5s;
}

.card:hover {
    color: black;
    font-size: 1.2rem;
}

.card > p {
    margin-top: 10px;
}

.card > h3 {
    margin-top: 10px;
}



#card1 {
    grid-area: 3 / 1 / span 7 / span 1;

    
}


#card2 {
    grid-area: 3 / 2 / span 7 / span 1;
    align-items: center;
    
}

#card3 {
    grid-area: 3 / 3 / span 7 / span 1;
    align-items: center;
}

#card4 {
    grid-area: 3 / 4 / span 7 / span 1;
    align-items: center;
}

#card5 {
    grid-area: 3 / 5 / span 7 / span 1;
    
}


#card6 {
    grid-area: 11 / 1 / span 7 / span 1;
    align-items: center;
   
}

#card7 {
    grid-area: 11 / 2 / span 7 / span 1;
    align-items: center;
}


#card8 {
    grid-area: 11 / 3 / span 7 / span 1;
    align-items: center;
}

#card9 {
    grid-area: 11 / 4 / span 7 / span 1;
    align-items: center;
}


#card10 {
    grid-area: 11 / 5 / span 7 / span 1;
    align-items: center;
    
}
.experience {
    grid-area: 3 / 2 / span 1 / span 10;
    display: grid;
    grid-template: repeat(50, 1fr) / repeat(50, 1fr);

}

.experienceTopics {
    grid-area: 8 / 14 / span 1 / span 24;
    

}

.experienceList {
    display: flex;
    justify-content: center;
    list-style-type: none;
    border-radius: 5px;
}

.experienceList  li{
    padding: 10px 40px;
    border-radius: 5px;
    transition: all 0.4s;
}



.experienceList  li:hover{
    list-style-type: none;
    font-size: 1.2rem;
    color: black;
    border: 1px solid #363636;
    
}

.experienceItem {
    background-color: white;
    
}



.experienceItem h4{
    font-weight: lighter;
    margin-bottom: 5px;
}

.experienceItem li{
    font-size: 1rem;

}

.academicItem {
    background-color: white;
    z-index: -1;
}



.academicItem h4{
    font-weight: lighter;
    margin-bottom: 5px;
}


.especializationItem {
    background-color: white;
    z-index: -1;
    
}



.especializationItem h4{
    font-weight: lighter;
    margin-bottom: 5px;
}



#experience1 {
    grid-area: 15 / 5 / span 1 / span 12;
}

#experience2 {
    grid-area: 15 / 20 / span 1 / span 12;
}

#experience3 {
    grid-area: 15 / 35 / span 1 / span 12;
    
}

#experience4 {
    grid-area: 22 / 5 / span 22 / span 12;
    
}

#experience5 {
    grid-area: 22 / 20 / span 22 / span 12;
    
}

#experience6 {
    grid-area: 22 / 35 / span 22 / span 12;
}

#academic1{
    grid-area: 15 / 5 / span 1 / span 12;
}


#academic2 {
    grid-area: 15 / 20 / span 1 / span 12;
}

#academic3 {
    grid-area: 15 / 35 / span 1 / span 12;
}

#espec1 {
    grid-area: 15 / 5 / span 1 / span 12;
}

#espec2 {
    grid-area: 15 / 20 / span 1 / span 12;
}

#espec3 {
    grid-area: 15 / 35 / span 1 / span 12;
    background-color: yellow;
}

#espec4 {
    grid-area: 22 / 5 / span 22 / span 12;
}

#espec5 {
    grid-area: 22 / 20 / span 22 / span 12;
}

#espec6 {
    grid-area: 22 / 35 / span 22 / span 12;
}
.skills {
    grid-area: 4 / 2 / span 1 / span 10;
    display: grid;
    grid-template: repeat(20, 1fr) /  repeat(5, 1fr);
    grid-gap: 10px;
    
}



#skill1 {
    grid-area: 3 / 1 / span 7 / span 1;
    align-items: center;
    
}


#skill2 {
    grid-area: 3 / 2 / span 7 / span 1;
    align-items: center;
    
}

#skill3 {
    grid-area: 3 / 3 / span 7 / span 1;
    align-items: center;
}

#skill4 {
    grid-area: 3 / 4 / span 7 / span 1;
    align-items: center;
}

#skill5 {
    grid-area: 3 / 5 / span 7 / span 1;
    align-items: center;
}


#skill6 {
    grid-area: 11 / 1 / span 7 / span 1;
    align-items: center;
}

#skill7 {
    grid-area: 11 / 2 / span 7 / span 1;
    align-items: center;
}


#skill8 {
    grid-area: 11 / 3 / span 7 / span 1;
    align-items: center;
}

#skill9 {
    grid-area: 11 / 4 / span 7 / span 1;
    align-items: center;
    
}


#skill10 {
    grid-area: 11 / 5 / span 7 / span 1;
    align-items: center;
}

.contact {
    grid-area: 5 / 2 / span 1 / span 10;
    display: grid;
    grid-template: repeat(30, 1fr) / repeat(30, 1fr);
    grid-gap: 20px;
}

.personalContact {
    border-right: 1px solid #363636;
    grid-area: 4 / 6 / span 15 / span 10;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.phone:hover, .instagramContact:hover {
    color: rgb(130, 214, 144);
    font-size: 1.2rem;
    font-weight: 900;
}

.personalContact h3 {
    margin-bottom: 20px;
}

.personalContact div {
    margin: 10px;
}


footer {
    grid-area: 6 / 1 / span 1 / span 12;

}



@media only screen and (max-width: 1075px) { 
    
.home .profilePicture img {
    display: none;
}

.home span {
    display: none;
}


.home h1 {
    grid-area: 3 / 5 / span 6 / span 6;
    font-size: 5rem;
}


.home > p {
    grid-area: 8 / 5 / span 1 / span 6;
}



.home form {
    grid-area: 11 / 9 / span 1/ span 1;
}

}


@media only screen and (max-width: 870px) {



    header {
        width: 65%;  
    }
        
    header ul a {
        margin: 40px 5px;
    }
    

.home {
    grid-area: 1 / 2 / span 1 / span 10;
}


.home h1 {
    grid-area: 3 / 5 / span 6 / span 8;
    font-size: 4rem;

}


.home > p {
    grid-area: 7 / 5 / span 1 / span 5;
}


.home footer {
    grid-area: 11 / 5 / span 1 / span 10;

}

.home form {
    grid-area: 9 / 6 / span 1/ span 1;
}

.home form button {
    width: 160px;
    height: 40px;
}

.about {
    font-size: 0.9rem;
}

.experience {
    grid-area: 3 / 2 / span 1 / span 10;


}

.experienceTopics {
    grid-area: 8 / 20 / span 1 / span 10;
    

}

.experienceList {
    display: flex;
    justify-content: center;
    list-style-type: none;
    border-radius: 5px;

}

.experienceList  li{
    padding: 10px 40px;
    border-radius: 5px;
    transition: all 0.4s;
}



.experienceList  li:hover{
    list-style-type: none;
    font-size: 1.2rem;
    color: black;
    
}

.experienceItem {
    background-color: white;

    display: inline-block;
    width: 100%;
    

    
}



.experienceItem h4{
    font-weight: lighter;
    margin-bottom: 5px;
    font-size: 0.9rem;
}

.experienceItem li{
    font-size: 0.8rem;

}

.academicItem {
    background-color: white;
    z-index: -1;
}



.academicItem h4{
    font-weight: lighter;
    margin-bottom: 5px;
    font-size: 0.8rem;
}


.especializationItem {
    background-color: white;
    z-index: -1;
    font-size: 0.8rem;
    
}



.especializationItem h4{
    font-weight: lighter;
    margin-bottom: 5px;

}



#experience1 {
    grid-area: 15 / 5 / span 1 / span 12;
}

#experience2 {
    grid-area: 15 / 20 / span 1 / span 12;
}

#experience3 {
    grid-area: 15 / 35 / span 1 / span 12;
    
}

#experience4 {
    grid-area: 22 / 5 / span 22 / span 12;
    
}

#experience5 {
    grid-area: 22 / 20 / span 22 / span 12;
    
}

#experience6 {
    grid-area: 22 / 35 / span 22 / span 12;
}

#academic1{
    grid-area: 15 / 5 / span 1 / span 12;
}


#academic2 {
    grid-area: 15 / 20 / span 1 / span 12;
}

#academic3 {
    grid-area: 15 / 35 / span 1 / span 12;
}

#espec1 {
    grid-area: 15 / 5 / span 1 / span 12;
}

#espec2 {
    grid-area: 15 / 20 / span 1 / span 12;
}

#espec3 {
    grid-area: 15 / 35 / span 1 / span 12;
    background-color: yellow;
}

#espec4 {
    grid-area: 22 / 5 / span 22 / span 12;
}

#espec5 {
    grid-area: 22 / 20 / span 22 / span 12;
}

#espec6 {
    grid-area: 22 / 35 / span 22 / span 12;
}
.skills {
    grid-area: 4 / 2 / span 1 / span 10;
    display: grid;
    grid-template: repeat(20, 1fr) /  repeat(5, 1fr);
    grid-gap: 10px;
    
}



#skill1 {
    grid-area: 1 / 2 / span 7 / span 1;
    align-items: center;
    
}


#skill2 {
    grid-area: 1 / 3 / span 7 / span 1;
    align-items: center;
    
}

#skill3 {
    grid-area: 6 / 2 / span 7 / span 1;
    align-items: center;
}

#skill4 {
    grid-area: 6 / 3/ span 7 / span 1;
    align-items: center;
}

#skill5 {
    grid-area: 12 / 2 / span 7 / span 1;
    align-items: center;
}


#skill6 {
    grid-area: 11 / 1 / span 7 / span 1;
    align-items: center;
}

#skill7 {
    grid-area: 11 / 2 / span 7 / span 1;
    align-items: center;
}


#skill8 {
    grid-area: 11 / 3 / span 7 / span 1;
    align-items: center;
}

#skill9 {
    grid-area: 11 / 4 / span 7 / span 1;
    align-items: center;
    
}


#skill10 {
    grid-area: 11 / 5 / span 7 / span 1;
    align-items: center;
}

.contact {
    grid-area: 5 / 2 / span 1 / span 10;
    display: grid;
    grid-template: repeat(30, 1fr) / repeat(30, 1fr);
    grid-gap: 20px;
}

.personalContact {
    border-right: 1px solid #363636;
    grid-area: 4 / 6 / span 15 / span 10;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.phone:hover, .instagramContact:hover {
    color: rgb(130, 214, 144);
    font-size: 1.2rem;
    font-weight: 900;
}

.personalContact h3 {
    margin-bottom: 20px;
}

.personalContact div {
    margin: 10px;
}


footer {
    grid-area: 6 / 1 / span 1 / span 12;

}

}


@media only screen and (max-width: 650px) {

    

    header {
        width: 74%;
        margin-left: 20px;
        display: flex;
        
    }
    
    
    header ul {
        font-size: 1.2rem;
        
    }

    header ul a {
        margin: 40px 5px;

    }

    .logo {
       display: none;
    }
    

.home {
    grid-area: 1 / 1 / span 1 / span 13;
}


.home h1 {
    grid-area: 3 / 5 / span 2 / span 20;
    font-size: 3rem;

}


.home > p {
    grid-area: 7 / 5 / span 1 / span 5;
}


.home footer {
    grid-area: 11 / 5 / span 1 / span 10;

}

.home form {
    grid-area: 9 / 6 / span 1/ span 1;
}

.home form button {
    width: 160px;
    height: 40px;
}


.about {
    grid-area: 2 / 1 / span 1 / span 13;
    display: grid;
    grid-template: repeat(20, 1fr) /  1fr;
    grid-gap: 1px;
    font-size: 0.7rem;
}

.card {
    border-radius: 10px;
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    transition: all 0.5s;
}

.card:hover {
    color: black;
    font-size: 0.9rem;
}

.card > p {
    margin-top: 10px;
}

.card > h3 {
    margin-top: 10px;
}



#card1 {
    grid-area: 3 / 1 / span 7 / span 1;

    
}


#card2 {
    grid-area: 3 / 2 / span 7 / span 1;
    align-items: center;
    
}

#card3 {
    grid-area: 3 / 3 / span 7 / span 1;
    align-items: center;
}

#card4 {
    grid-area: 3 / 4 / span 7 / span 1;
    align-items: center;
}

#card5 {
    grid-area: 3 / 5 / span 7 / span 1;
    
}


#card6 {
    grid-area: 11 / 1 / span 7 / span 1;
    align-items: center;
   
}

#card7 {
    grid-area: 11 / 2 / span 7 / span 1;
    align-items: center;
}


#card8 {
    grid-area: 11 / 3 / span 7 / span 1;
    align-items: center;
}

#card9 {
    grid-area: 11 / 4 / span 7 / span 1;
    align-items: center;
}


#card10 {
    grid-area: 11 / 5 / span 7 / span 1;
    align-items: center;
    
}

.experience {
    grid-area: 3 / 1 / span 1 / span 13;


}

.experienceTopics {
    grid-area: 8 / 24 / span 1 / span 3;
    font-size: 1rem;

}

.experienceList {
    display: flex;
    justify-content: center;
    list-style-type: none;
    border-radius: 5px;

}

.experienceList  li{
    padding: 5px 20px;
    border-radius: 5px;
    transition: all 0.4s;
}



.experienceList  li:hover{
    list-style-type: none;
    font-size: 0.8rem;
    color: black;
    
}

.experienceItem {
    background-color: white;

    display: inline-block;
    width: 100%;
    

    
}
.experienceItem h3 {
    font-size: 0.9rem;
}


.experienceItem h4{
    font-weight: lighter;
    margin-bottom: 5px;
    font-size: 0.8rem;
}

.experienceItem li{
    font-size: 0.8rem;

}

.academicItem {
    background-color: white;
    z-index: -1;
}



.academicItem h4{
    font-weight: lighter;
    margin-bottom: 5px;
    font-size: 0.8rem;
}


.especializationItem {
    background-color: white;
    z-index: -1;
    font-size: 0.8rem;
    
}



.especializationItem h4{
    font-weight: lighter;
    margin-bottom: 5px;

}



#experience1 {
    grid-area: 15 / 5 / span 1 / span 12;
}

#experience2 {
    grid-area: 15 / 20 / span 1 / span 12;
}

#experience3 {
    grid-area: 15 / 35 / span 1 / span 12;
    
}

#experience4 {
    grid-area: 22 / 5 / span 22 / span 12;
    
}

#experience5 {
    grid-area: 22 / 20 / span 22 / span 12;
    
}

#experience6 {
    grid-area: 22 / 35 / span 22 / span 12;
}

#academic1{
    grid-area: 15 / 5 / span 1 / span 12;
}


#academic2 {
    grid-area: 15 / 20 / span 1 / span 12;
}

#academic3 {
    grid-area: 15 / 35 / span 1 / span 12;
}

#espec1 {
    grid-area: 15 / 5 / span 1 / span 12;
}

#espec2 {
    grid-area: 15 / 20 / span 1 / span 12;
}

#espec3 {
    grid-area: 15 / 35 / span 1 / span 12;
    background-color: yellow;
}

#espec4 {
    grid-area: 22 / 5 / span 22 / span 12;
}

#espec5 {
    grid-area: 22 / 20 / span 22 / span 12;
}

#espec6 {
    grid-area: 22 / 35 / span 22 / span 12;
}
.skills {
    grid-area: 4 / 1 / span 1 / span 13;
    display: grid;
    grid-template: repeat(20, 1fr) /  repeat(5, 1fr);
    grid-gap: 10px;
    
}



#skill1 {
    grid-area: 1 / 2 / span 7 / span 1;
    align-items: center;
    
}


#skill2 {
    grid-area: 1 / 3 / span 7 / span 1;
    align-items: center;
    
}

#skill3 {
    grid-area: 6 / 2 / span 7 / span 1;
    align-items: center;
}

#skill4 {
    grid-area: 6 / 3/ span 7 / span 1;
    align-items: center;
}

#skill5 {
    grid-area: 12 / 2 / span 7 / span 1;
    align-items: center;
}


#skill6 {
    grid-area: 11 / 1 / span 7 / span 1;
    align-items: center;
}

#skill7 {
    grid-area: 11 / 2 / span 7 / span 1;
    align-items: center;
}


#skill8 {
    grid-area: 11 / 3 / span 7 / span 1;
    align-items: center;
}

#skill9 {
    grid-area: 11 / 4 / span 7 / span 1;
    align-items: center;
    
}


#skill10 {
    grid-area: 11 / 5 / span 7 / span 1;
    align-items: center;
}

.contact {
    grid-area: 5 / 1 / span 1 / span 13;
    display: grid;
    grid-template: repeat(30, 1fr) / repeat(30, 1fr);
    grid-gap: 20px;
}

.personalContact {
    border-right: 1px solid #363636;
    grid-area: 4 / 6 / span 15 / span 10;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.phone:hover, .instagramContact:hover {
    color: rgb(130, 214, 144);
    font-size: 1.2rem;
    font-weight: 900;
}

.personalContact h3 {
    margin-bottom: 20px;
}

.personalContact div {
    margin: 10px;
}


footer {
    grid-area: 6 / 1 / span 1 / span 12;

}





    
}
